.process {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.process .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 1772px;
  position: relative;
}

.process .overlap {
  position: absolute;
  width: 1457px;
  height: 1079px;
  top: 35px;
  left: -17px;
}

.process .overlap-group {
  position: absolute;
  width: 1457px;
  height: 1062px;
  top: 17px;
  left: 0;
}

.process .background-page {
  position: absolute;
  width: 1455px;
  height: 914px;
  top: 43px;
  left: 0;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgb(252, 200, 159) 4.23%,
    rgba(255, 255, 255, 0.8) 38.74%,
    rgb(245, 199.22, 178) 100%
  );
  opacity: 0.3;
}

.process .text-wrapper {
  position: absolute;
  width: 1108px;
  top: 75px;
  left: 95px;
  opacity: 0.9;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.process .learn-more-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 90px;
  top: 348px;
  left: 92px;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #ff7304;
  font-size: 13px;
  letter-spacing: 0;
  line-height: normal;
}

.process .process-vector {
  position: absolute;
  width: 1440px;
  height: 365px;
  top: 298px;
  left: 17px;
}

.process .text-wrapper-2 {
  position: absolute;
  width: 166px;
  top: 0;
  left: 1014px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #033b6f;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.process .element-triaged {
  position: absolute;
  width: 261px;
  height: 120px;
  top: 214px;
  left: 92px;
}

.process .element-triaged-2 {
  position: absolute;
  width: 119px;
  top: 0;
  left: 0;
  opacity: 0.9;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 24.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.process .p {
  position: absolute;
  width: 257px;
  top: 63px;
  left: 0;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #0b1d3f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.process .element-admitted {
  position: absolute;
  width: 301px;
  height: 248px;
  top: 608px;
  left: 535px;
}

.process .element-admitted-2 {
  position: absolute;
  width: 154px;
  top: 0;
  left: 0;
  opacity: 0.9;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 24.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.process .is-simply-dummy-text {
  width: 297px;
  top: 67px;
  position: absolute;
  left: 0;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #0b1d3f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.process .element-discharged {
  position: absolute;
  width: 219px;
  height: 280px;
  top: 672px;
  left: 1086px;
}

.process .element-discharged-2 {
  position: absolute;
  width: 213px;
  top: 0;
  left: 0;
  opacity: 0.9;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 24.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.process .is-simply-dummy-text-2 {
  width: 215px;
  top: 99px;
  position: absolute;
  left: 0;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #0b1d3f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.process .element-investigations {
  position: absolute;
  width: 304px;
  height: 278px;
  top: 222px;
  left: 862px;
}

.process .text-wrapper-3 {
  position: absolute;
  width: 203px;
  top: 0;
  left: 0;
  opacity: 0.9;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 24.4px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.process .is-simply-dummy-text-3 {
  width: 300px;
  top: 97px;
  position: absolute;
  left: 0;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #0b1d3f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.process .element-registered {
  position: absolute;
  width: 233px;
  height: 248px;
  top: 728px;
  left: 204px;
}

.process .element-registered-2 {
  position: absolute;
  width: 154px;
  top: 0;
  left: 0;
  opacity: 0.9;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 24.4px;
  letter-spacing: 0;
  line-height: normal;
}

.process .is-simply-dummy-text-4 {
  width: 229px;
  top: 67px;
  position: absolute;
  left: 0;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #0b1d3f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.process .l {
  position: absolute;
  width: 1078px;
  top: 936px;
  left: 204px;
  opacity: 0.8;
  font-family: "Lexend", Helvetica;
  font-weight: 300;
  color: #0b1d3f;
  font-size: 9.3px;
  letter-spacing: 0;
  line-height: normal;
}

.process .text-wrapper-4 {
  position: absolute;
  width: 168px;
  top: 17px;
  left: 1209px;
  font-family: "Lexend", Helvetica;
  font-weight: 500;
  color: #033b6f;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.process .logo {
  position: absolute;
  width: 214px;
  top: 0;
  left: 118px;
  background: linear-gradient(
    180deg,
    rgb(255, 115, 4) 25.78%,
    rgb(117, 148, 252) 80%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Lexend", Helvetica;
  font-weight: 800;
  color: transparent;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.process .overlap-group-2 {
  position: absolute;
  width: 1440px;
  height: 597px;
  top: 1175px;
  left: 0;
}

.process .level {
  position: absolute;
  width: 537px;
  height: 39px;
  top: 20px;
  left: 761px;
}

.process .text-wrapper-5 {
  position: absolute;
  width: 535px;
  top: 0;
  left: 0;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.process .div-wrapper {
  position: absolute;
  width: 477px;
  height: 39px;
  top: 81px;
  left: 761px;
}

.process .text-wrapper-6 {
  position: absolute;
  width: 475px;
  top: 0;
  left: 0;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.process .level-2 {
  position: absolute;
  width: 483px;
  height: 39px;
  top: 155px;
  left: 765px;
}

.process .text-wrapper-7 {
  position: absolute;
  width: 481px;
  top: 0;
  left: 0;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.process .level-3 {
  position: absolute;
  width: 396px;
  height: 39px;
  top: 224px;
  left: 761px;
}

.process .text-wrapper-8 {
  position: absolute;
  width: 394px;
  top: 0;
  left: 0;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.process .level-4 {
  position: absolute;
  width: 517px;
  top: 292px;
  left: 761px;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.process .color-rectangles {
  position: absolute;
  width: 523px;
  height: 322px;
  top: 7px;
  left: 742px;
}

.process .rectangle {
  top: 272px;
  background-color: #b2f5c0;
  position: absolute;
  width: 523px;
  height: 50px;
  left: 0;
  border-radius: 13px;
  opacity: 0.2;
}

.process .rectangle-2 {
  top: 204px;
  background-color: #d0f5b2;
  position: absolute;
  width: 523px;
  height: 50px;
  left: 0;
  border-radius: 13px;
  opacity: 0.2;
}

.process .rectangle-3 {
  top: 136px;
  background-color: #f5ecb2;
  position: absolute;
  width: 523px;
  height: 50px;
  left: 0;
  border-radius: 13px;
  opacity: 0.2;
}

.process .rectangle-4 {
  top: 68px;
  background-color: #f5c7b2;
  position: absolute;
  width: 523px;
  height: 50px;
  left: 0;
  border-radius: 13px;
  opacity: 0.2;
}

.process .rectangle-5 {
  top: 0;
  background-color: #ffa191;
  position: absolute;
  width: 523px;
  height: 50px;
  left: 0;
  border-radius: 13px;
  opacity: 0.2;
}

.process .triage-info {
  position: absolute;
  width: 568px;
  height: 171px;
  top: 0;
  left: 37px;
}

.process .text-wrapper-9 {
  position: absolute;
  width: 564px;
  top: 0;
  left: 0;
  font-family: "Lexend", Helvetica;
  font-weight: 700;
  color: #0b1d3f;
  font-size: 48px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.process .a-nurse-evaluates {
  position: absolute;
  width: 366px;
  top: 132px;
  left: 192px;
  font-family: "Source Sans Pro", Helvetica;
  font-weight: 400;
  color: #3f3b3b;
  font-size: 22.7px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.process .vector-endpage {
  position: absolute;
  width: 1440px;
  height: 445px;
  top: 152px;
  left: 0;
}
